<launch>
    <!-- Define the PC (station) machine -->
    <machine name="station" address="localhost" user="user_station" />

    <!-- Define the robot (foma) machine -->
    <machine name="foma" address="icvl-fov.local" user="fov" />

    <!-- Include the PC (station) launch file -->
    <include file="$(find fov)/launch/station.launch" machine="station" />

    <!-- Include the robot (foma) launch file -->
    <include file="$(find fov)/launch/foma.launch" machine="foma" />
</launch>
