<launch>   
    <!-- Node 1 -->
    <node pkg="foma" type="ceiling_camera_node.py" name="ceiling_camera" output="screen"/>

    <!-- Node 2 -->
    <node pkg="foma" type="fish_detection_node.py" name="fish_detection_node" output="screen"/>

    <!-- Node 3 -->
    <node pkg="foma" type="gui_node.py" name="gui_node" output="screen"/>

    <!-- Node 4 -->
    <node pkg="foma" type="localization_node.py" name="localization_node" output="screen"/>

    <!-- Node 5 -->
    <node pkg="foma" type="light_dimmer_node.py" name="light_dimmer_node" output="screen"/>

    <!-- Node 6 -->
    <!-- <node pkg="foma" type="writer_node.py" name="writer_node" output="screen"/> -->
    <include file="$(find foma)/launch/writers.launch"/>

    <!-- Joystick to Motor-->
    <node pkg="foma" type="joystick_node.py" name="joystick_node" output="screen"/>
    
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.05"/>
        <param name="autorepeat_rate" value="20.0"/>
    </node>

</launch>