<launch>
    <rosparam command="load" file="$(find foma)/config/foma_params.yaml" />

    <!-- Node 1 -->
    <node pkg="foma" type="ceiling_camera_node.py" name="ceiling_camera" output="screen"/>
    <!-- rtsp_url moved to /ROOM_RTSP_URL in config/foma_params.yaml so the
         recorder shares the same URL. -->


    <!-- Node 2 -->
    <node pkg="foma" type="fish_detection_node.py" name="fish_detection_node" output="screen">
        <param name="model_path" value="/home/icvl/ros_ws/src/foma/models/fish_detection.pt"/>
        <param name="tracker_path" value="ocsort.yaml"/>
    </node>

    <!-- Node 3 -->
    <node pkg="foma" type="gui_node.py" name="gui_node" output="screen"/>

    <!-- Node 4 -->
    <node pkg="foma" type="localization_node.py" name="localization_node" output="screen">
        <param name="detection_model_path" value="/home/icvl/ros_ws/src/foma/models/foma_detection.pt"/>
        <param name="mapper_path" value="/home/icvl/ros_ws/src/foma/models/image_world_mapper.json"/>
        <param name="tracker_path" value="/home/icvl/ros_ws/src/foma/models/tracker_room.yaml"/>
    </node>

    <!-- Node 5 -->
    <node pkg="foma" type="light_dimmer_node.py" name="light_dimmer_node" output="screen"/>

    <!-- Writer Nodes -->
    <include file="$(find foma)/launch/writers.launch"/>

    <!-- Go Home -->
    <node pkg="foma" type="go_home_node.py" name="go_home_node" output="screen">
        <param name="goal_x" value="0.5"/>
        <param name="goal_y" value="0.5"/>
        <param name="arrival_tol" value="0.03"/>
    </node>


    <!-- Joystick to Motor-->
    <node pkg="foma" type="joystick_node.py" name="joystick_node" output="screen"/>
    
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.05"/>
        <param name="autorepeat_rate" value="20.0"/>
    </node> 

</launch>